<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">
  <display-name>Windoor</display-name>
  <servlet>
  	<servlet-name>OnSignIn</servlet-name>
  	<display-name>OnSignIn</display-name>
  	<description></description>
  	<servlet-class>ua.windoor.servlets.OnSignIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuccessfulLogin</servlet-name>
  	<display-name>SuccessfulLogin</display-name>
  	<description></description>
  	<servlet-class>ua.windoor.servlets.SuccessfulLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WrongLoginOrPassword</servlet-name>
  	<display-name>WrongLoginOrPassword</display-name>
  	<description></description>
  	<servlet-class>ua.windoor.servlets.WrongLoginOrPassword</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnSignUp</display-name>
  	<servlet-name>OnSignUp</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnSignUp</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SuccessfulRegistration</display-name>
  	<servlet-name>SuccessfulRegistration</servlet-name>
  	<servlet-class>ua.windoor.servlets.SuccessfulRegistration</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UserExist</display-name>
  	<servlet-name>UserExist</servlet-name>
  	<servlet-class>ua.windoor.servlets.UserExist</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PasswordMismatch</display-name>
  	<servlet-name>PasswordMismatch</servlet-name>
  	<servlet-class>ua.windoor.servlets.PasswordMismatch</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PhoneNumberExist</display-name>
  	<servlet-name>PhoneNumberExist</servlet-name>
  	<servlet-class>ua.windoor.servlets.PhoneNumberExist</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PhoneNumberNotValid</display-name>
  	<servlet-name>PhoneNumberNotValid</servlet-name>
  	<servlet-class>ua.windoor.servlets.PhoneNumberNotValid</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EMailExist</display-name>
  	<servlet-name>EMailExist</servlet-name>
  	<servlet-class>ua.windoor.servlets.EMailExist</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EMailNotValid</display-name>
  	<servlet-name>EMailNotValid</servlet-name>
  	<servlet-class>ua.windoor.servlets.EMailNotValid</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PasswordLength</display-name>
  	<servlet-name>PasswordLength</servlet-name>
  	<servlet-class>ua.windoor.servlets.PasswordLength</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginLength</display-name>
  	<servlet-name>LoginLength</servlet-name>
  	<servlet-class>ua.windoor.servlets.LoginLength</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnLogOut</display-name>
  	<servlet-name>OnLogOut</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnLogOut</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnAdd</display-name>
  	<servlet-name>OnAdd</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnAdd</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnAddProduct</display-name>
  	<servlet-name>OnAddProduct</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnAddProduct</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnShow</display-name>
  	<servlet-name>OnShow</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnShow</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnWindow</display-name>
  	<servlet-name>OnWindow</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnWindow</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnDoor</display-name>
  	<servlet-name>OnDoor</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnDoor</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnCalculator</display-name>
  	<servlet-name>OnCalculator</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnCalculator</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnSave</display-name>
  	<servlet-name>OnSave</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnSave</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnProfile</display-name>
  	<servlet-name>OnProfile</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnProfile</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnDelete</display-name>
  	<servlet-name>OnDelete</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnDelete</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnEdit</display-name>
  	<servlet-name>OnEdit</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnEdit</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OnUpdate</display-name>
  	<servlet-name>OnUpdate</servlet-name>
  	<servlet-class>ua.windoor.servlets.OnUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OnSignIn</servlet-name>
  	<url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuccessfulLogin</servlet-name>
  	<url-pattern>/successfulLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WrongLoginOrPassword</servlet-name>
  	<url-pattern>/wrongLoginOrPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnSignUp</servlet-name>
  	<url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuccessfulRegistration</servlet-name>
  	<url-pattern>/successfulRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserExist</servlet-name>
  	<url-pattern>/userExist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordMismatch</servlet-name>
  	<url-pattern>/passwordMismatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PhoneNumberExist</servlet-name>
  	<url-pattern>/phoneNumberExist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PhoneNumberNotValid</servlet-name>
  	<url-pattern>/phoneNumberNotValid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EMailExist</servlet-name>
  	<url-pattern>/eMailExist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EMailNotValid</servlet-name>
  	<url-pattern>/eMailNotValid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordLength</servlet-name>
  	<url-pattern>/passwordLength</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginLength</servlet-name>
  	<url-pattern>/loginLength</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnLogOut</servlet-name>
  	<url-pattern>/logOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnAdd</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnAddProduct</servlet-name>
  	<url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnShow</servlet-name>
  	<url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnWindow</servlet-name>
  	<url-pattern>/windows</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnDoor</servlet-name>
  	<url-pattern>/doors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnCalculator</servlet-name>
  	<url-pattern>/calculator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnSave</servlet-name>
  	<url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnProfile</servlet-name>
  	<url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnDelete</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnEdit</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnUpdate</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>-1</session-timeout>
  </session-config>
</web-app>
